.servicesContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 11.25rem 0 3rem 0;
}

.serviceText{
    font-size: 2.5rem;
    font-family: 'Open Sans';
    font-weight: 700;
}